.container {
    max-width: 750px;
}


#cat-picture {
    max-height: 500px;
}

#cat-list {
    padding-top: 10px;
}

#cat-icon {
    max-width: 50px;
    max-height: 50px;
}


.admin {
    max-width: 300px;

}

.admin-view {
    padding-top: 10px;
}



#toggle-label {

}

#toggle-checkbox:checked ~ form {
    display: block !important;
}
